.button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: beige;
    color: rgb(77, 58, 104);
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(237, 238, 205);
}